html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {

  padding:0;
  border:0;
  margin:0;
  font-family:inherit;
  font-size:inherit;
  color: inherit;




}gregre

body {
  line-height:1.5px;
}




