.navigation {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  
}


a {
  margin: 0 5px;
  text-decoration: none;

}

a:hover {
  margin: 0 5px;
  background-color: $lightest-gray;

}

a:last-child:hover{
  text-decoration: underline;
  font-size: 10px;
  background-color: transparent;

}



